a {
    text-decoration: none;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 30px;
    color: black;
}

a:hover{
    color: orange;
}

p, li, td {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 25px;
    color: black;
}

h1 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
}


h2 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 35px;
    color: black;
}   

#MainPhoto {
    width: 1000px;
}

#footer {
    background-color: rgb(100, 100, 100);
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

#header {
    background-color: rgb(100, 100, 100);
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

#main {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

.footer_text, .header_text {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

table, th, td {
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
}

.MainTableStr {
    font-weight: bold;
}


