
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 25px;
    color: white;
}

a:hover {
    color: orange;
}


p, li, td {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 25px;
    color: black;
    margin: 5px 0px 5px 20px;
}

h1 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 50px;
    color: white;
}

h2 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 35px;
    color: black;
    margin: 5px 0px 0px 0px;
}

#MainPhoto {
    width: 800px;
    height: auto;
    margin-bottom: 5px;
}

header, footer, main, nav {
    padding: 15px;
    margin: 0;
}

#header {
    background-color: black;
    color: white;
}

nav {
    margin-top: 10px;
    display: flex;
    gap: 25px;
}

#footer {
    background-color: black;
    color: white;
}


table, th, td {
    padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
}

.MainTableStr {
    font-weight: bold;
    background-color: #f2f2f2;
}

.header_text, .footer_text {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 25px;
    color: white;
}


@media (max-width: 800px) {

    #MainPhoto {
        width: 500px;
        height: auto;
    }
    nav {
        display: flex;
        justify-content: space-between; 
        gap: 0; 
    }
    h1 {
        text-align: center;
    }
}



@media (max-width: 600px) {

    nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    a,
    .header_text,
    .footer_text {
        font-size: 29px;
    }
    #MainPhoto {
        width: 100%;
    }

    table, th, td {
        font-size: 23px;
    }
}



@media (max-width: 400px) {

    table, th, td {
        font-size: 21px;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

